/*
h1{
						
	 color:red;

}					
p{
	 color:green;
}

*/

/*id selector start*/
/*
 #idname{
	 
	 property:value;
 }

*/

/*#first{
	
	color:red;
}

#sec{
	
	color:blue;
}*/

/*id selector end*/

/*class selector start*/
/*
   .classname{
	   
	   property:value;
   }

*/

/*.one{
	
	color:green;
}*/


/*class selector End*/

/*Gruop selector start*/
/*
  selector1,selector2,....,selectorN{
	  
	  property:value;
  }

*/

/*h1,p,b{
	
	color:yellow;
}*/

/*h1,#para,.bold{
	
	color:green;
}*/
/*Gruop selector End*/


/*Combinators start*/

/*Descendent combinator*/

/*div p{
	
	color:red;
}*/

/*child combinator*/

/*div>p{
	
	color:red;
}*/

/*Adjacent sibbling selector*/

/*div+p{
	
	color:red;
}*/
/*general Sibbling Selector*/
/*div~p{
	
	color:red;
}*/

/*Combinators End*/

/*Pseudo class selector start*/
/*
 syntax:
 
 selector:pseudo_classname{
	 
	 property:value;
 }

*/



/*a:link{
	
	color:pink;
}

a:hover{
	
	color:green;
}

a:visited{
	
	color:red;
	
}

a:active{
	
	color:yellow;
	
}

input:focus{
	
	color:green;
	width:300px;
	
}*/

/*Pseudo class selector End*/


/*nth child selector start*/
/*

 selector:nth-child(n){
	 
	 property:value;
 }
*/

/*p:nth-child(5){
	
	color:red;
	
}*/

/*p:nth-child(2n+1)
{
	
	color:green;
}*/
/*
2n+1 

n=0,1,2,3,4....

  element: 2x0+1=1
1 element: 2x1+1= 2+1=3  3rd element
2 element: 2x2+1=4+1=5
3 element  2x3+1=6+1=7

*/

/*div:nth-child(even){
	
	
	color:red;
}*/

/*p:nth-child(odd){
	
	color:yellow;
}*/


/*nth child selector End*/


/*Attribute selector start*/

/*
selector[attribute]{
	
	property:value;
}
*/

/*input[type]{
	
	color:red;
	background-color:yellow;
	
}*/

/*input[type="text"]{
	
	color:red;
}

w{
	
	color:green;
}*/

/*p[class*='ing']{   
	
	/*test|tested|ing*
	color:red;
}*/


/*Attribute selector End*/


/*Universal selector

*{
	
	
	property:value;
}

*/

/*
*{
	
	background-color:blue;
	
	margin-top:0px;
	margin-left:0px;
}*/

/*css property start*/
/*
 color:name|hexcode|rgb()|rgba()

*/
h1{
	
	/*color:red;*/
	/*color:#10A4ED;
	font-weight:normal;*/
	
	display:inline;
}

p{
	
	/*color:green;*/
	/*color:#ED9E10;*/
	
	/*
	  rgb(red intensity,green intensity,blue intensity)
	  
	  red intensity: 0 to 255
	  green intensity: 0 to 255
	  blue intensity: 0 to 255
	  
	  color:rgb(0,0,0)
	  color:rgb(255,255,255)=> white
	
	*/
	/*color:rgb(94,130,51);*/
	
	/*
	  rgba():
	  a parameter is for transperancy. its value ranges from 0 to 1.
      0,0.1,0.2,0.3....1	  
	*/
	
	/*color:rgba(247,61,12,0.3);*/


	
	/*text property start*/
	
	/*text-align:justify;*/ /*left(default)|right|center|justify*/
	
	/*text-decoration:underline;*/ /*underline|overline|line-through*/
	
	/*text-transform:capitalize;*/ /*lowercase|uppercase|capitalize*/
	
	/*text-indent:100px;
	line-height:40px;*/
	
	/*word-spacing:10px;
	letter-spacing:5px;*/
	
	/*text property End*/
	
	/*font-size:30px;
	font-weight:bold;*/   /*bold|normal*/
	
	/*font-family:arial black;*/  /*monotype corsiva*/
	/*font-family: 'Noto Sans JP', sans-serif;*/
	/*font-style:italic;*/  /*italic and normal*/
	
	/*Box propert start
	    width:npx;
		height:npx;
	*/
	
	/*width:600px;*/
	
	/*width:300px;
	height:300px;*/
	/*Box property End*/
	
	/*border property start*/
	/*border-style:solid; /*solid|dotted|dashed
	border-width:5px;
	border-color:red;*/
	/*border:width style color*/
	
	
	/*overflow:hidden;*/
	/*overflow:scroll;*/
	/*border-radius:5px;*/
	
	/*border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color:green;*/
	
	/*border-bottom:4px solid green;
	
	border-top-style:solid;
	border-top-width:4px;
	border-top-color:green;
	border-top-left-radius:3px;
	border-top-right-radius:3px;*/
	
	/*
	       5px 10px  300px       10px 5px  = 330
	       ---|---|-------------|---|---
	
	       5px 20px  300px       20px 5px  = 350
	       ---|---|-------------|---|---         
	*/
	
	/* Padding */
	
	/*padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;*/
	
	/*padding:top right bottom left*/
	/*padding:10px 10px 10px 10px;*/
	/*border:5px solid red;
	 padding:10px*/ /*applied to all-top,right,bottom and left*/ 
	
	/*padding:10px 20px;*/ /*10px for top and bottom , 20px to right and left*/
	
	/*padding:10px 20px 15px;*//*top=10 bottom-15 right and left=20px*/
	/*
	                  |5px
					  |10px
					  |
					  |
					  |300px
					  |
					  |
					  |
					  |15px
					  |5px
	*/

	/*box-sizing:border-box;*/
	
	/*border property End*/
	
	/*margin property start*/
	
	/*margin-top:100px;
	margin-right:100px;
	margin-bottom:100px;
	margin-left:100px;*/
	
	/*margin:top right bottom left*/
	
	/*margin:100px 100px 100px 100px;*/
	
	/*margin:200px auto;*/ /*200px for top and bottom , auto for left &right*/
	/*margin property end*/
	
	display:inline;
	
}

a{
	/*text-decoration:none;*/
	
}

b,i{
	
	display:block;
}
/*css property end*/